<div class="container">
  <h1 class="mb-4 fw-bold">About This Project</h1>

  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <p class="mb-0">
        Winnipeg Food Explorer is a demo web application that helps users browse restaurants
        across Winnipeg(address for some is fake), grouped by ward and category. Each restaurant includes inspection history,
        user-generated reviews, and basic geographic info.
      </p>
    </div>
  </div>

 

  <h3 class="fw-semibold">Schema (ERD)</h3>

  <div class="card shadow-sm p-3">
    <%= image_tag "erd.png",
        alt: "ERD diagram",
        class: "img-fluid rounded border" %>
  </div>
</div>
