<h1><%= @category.name %></h1>

<h2>Restaurants in this category</h2>

<% if @restaurants.any? %>
  <ul>
    <% @restaurants.each do |r| %>
      <li><%= link_to r.name, restaurant_path(r) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No restaurants found in this category.</p>
<% end %>
