<h1 class="mb-4">Wards</h1>

<ul class="list-group">
  <% @wards.each do |ward| %>
    <li class="list-group-item">
      <%= link_to ward.name, ward_path(ward), class: "text-decoration-none" %>
    </li>
  <% end %>
</ul>
